.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    // .header__container
    &__container {
        min-height: 135px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 440px) {
            min-height: 80px;
        }
    }
    // .header__logo
    &__logo {
        margin: 0 240px 0 0;
        z-index: 5;

        @media screen and (max-width:1040px) {
            margin: 0 140px 0 0;
        }
        @media screen and (max-width:860px) {
            margin: 0 35px 0 0;
        }
        @media screen and (max-width: 440px) {
            margin: 0 10px 0 0;
            width: 140px;
        }
    }
    // .header__menu
    &__menu {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 767.98px) {
            justify-content: flex-end;
        }
        @media screen and (max-width: 440px) {
            flex: none;
        }
    }
    // .header__body
    &__body {
        display: flex;
        align-items: center;

        @media screen and (max-width: 767.98px) {
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100vh;
            background-color: rgba(37, 61, 50, 0.952);

            flex-direction: column;
            justify-content: center;

            transition: left .2s ease-in;
        }
        &--active {
            @media screen and (max-width: 767.98px) {
                left: 0;
            }
        }
    }
    // .header__list
    &__list {
        display: flex;
        align-items: center;
        column-gap: 52px;
        @media screen and (max-width:1040px) {
            column-gap: 30px;
        }
        @media screen and (max-width: 767.98px) {
            flex-direction: column;

            row-gap: 75px;
        }
    }
    // .header__item
    &__item {
    }
    // .header__link
    &__link {
        font-weight: 400;
        font-size: 1rem;
        line-height: 0.84; /* 16/19 */

        transition: color .2s ease-in;

        color: $color-accent;
        &:hover {
            color: rgba(255, 255, 255, 0.404);
        }
        @media screen and (max-width: 767.98px) {
            font-size: 1.5rem;
        }
    }
    // .header__button
    &__button {
        padding: 18px 35px;

        font-weight: 500;
        font-size: 1rem;
        line-height: 0.84; /* 16/19 */

        transition: background-color .2s ease-in;

        color: $color-accent;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(237, 255, 129, 0.4);
        border-radius: 116px;
        z-index: 5;
        &:hover {
            background-color: rgba(255, 255, 255, 0.26);
        }
        @media screen and (max-width: 440px) {
            padding: 15px 25px;
            font-size: 0.825rem;
        }
    }
}
