// font-family: 'Playfair Display', serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;

// FONTS 
$font-main: 'Rubik', sans-serif;
// $font-second:
// $font-third:

// COLORS 
$color-main: #253D32;
$color-accent: #FFFFFF;
$color-third: #78847D;
$color-links: #A3B938;
$color-tab: #808371;
// $color-placeholder:
// $color-footer:
$color-bg: #F6FBF9;